@charset "utf-8";
/* CSS Document */

/*css reset*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, figure{margin:0; padding:0; list-style:none;}
table{border-collapse:collapse; border-spacing:0}
img{border:0; display:block;}
legend, th{font-style:inherit; font-weight:inherit}
li{list-style:none}
caption, th{text-align:left}
input{font-family: Microsoft JhengHei;}
select{font-family: Microsoft JhengHei;}
h1, h2, h3, h4, h5, h6{font-size:100%; font-weight:normal}
a{ outline: none; text-decoration:none; cursor:pointer;} 
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {display: block;}

header, nav, article, section, aside, footer { display:block;}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
 caption, tbody, tfoot, thead {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
}


a{text-decoration:none;}

/*Function*/
.clearfix:before,.clearfix:after{content:"";display:table}
.clearfix:after{clear:both}
.clearfix{zoom:1;display:block}
.vanisher{display:none;}
.noLink{ cursor:default;}


