@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?i9wagc');
  src:  url('../fonts/icomoon.eot?i9wagc#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?i9wagc') format('truetype'),
    url('../fonts/icomoon.woff?i9wagc') format('woff'),
    url('../fonts/icomoon.svg?i9wagc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e918";
}
.icon-arrow-right:before {
  content: "\e919";
}
.icon-arrow-down:before {
  content: "\e91a";
}
.icon-arrow-top:before {
  content: "\e91e";
}
.icon-zoom-in:before {
  content: "\e91f";
}
.icon-file:before {
  content: "\e926";
}
.icon-paper:before {
  content: "\e90c";
}
.icon-house:before {
  content: "\e90d";
}
.icon-signboard:before {
  content: "\e90e";
}
.icon-map:before {
  content: "\e90f";
}
.icon-photograph:before {
  content: "\e910";
}
.icon-member:before {
  content: "\e911";
}
.icon-home:before {
  content: "\e912";
}
.icon-mountain:before {
  content: "\e913";
}
.icon-talk:before {
  content: "\e914";
}
.icon-pen:before {
  content: "\e915";
}
.icon-pigeon:before {
  content: "\e916";
}
.icon-read-paper:before {
  content: "\e91b";
}
.icon-book:before {
  content: "\e91c";
}
.icon-write-paper:before {
  content: "\e91d";
}
.icon-facebook:before {
  content: "\e90b";
}
.icon-google:before {
  content: "\e927";
}
.icon-instagram:before {
  content: "\e920";
}
.icon-line:before {
  content: "\e901";
}
.icon-twitter:before {
  content: "\e921";
}
.icon-youtube:before {
  content: "\e928";
}
.icon-link:before {
  content: "\e902";
}
.icon-chain:before {
  content: "\e902";
}
.icon-url:before {
  content: "\e902";
}
.icon-uri:before {
  content: "\e902";
}
.icon-anchor:before {
  content: "\e902";
}
.icon-error:before {
  content: "\e94f";
}
.icon-error_outline:before {
  content: "\e950";
}
.icon-loop:before {
  content: "\e922";
}
.icon-movie:before {
  content: "\e945";
}
.icon-library_books:before {
  content: "\e951";
}
.icon-play_arrow:before {
  content: "\e946";
}
.icon-play_circle_filled:before {
  content: "\e947";
}
.icon-play_circle_outline:before {
  content: "\e948";
}
.icon-videocam:before {
  content: "\e929";
}
.icon-video_call:before {
  content: "\e949";
}
.icon-location_on:before {
  content: "\e92a";
}
.icon-phone:before {
  content: "\e92b";
}
.icon-vpn_key:before {
  content: "\e92c";
}
.icon-mail_outline:before {
  content: "\e903";
}
.icon-add:before {
  content: "\e952";
}
.icon-add_circle:before {
  content: "\e953";
}
.icon-add_circle_outline:before {
  content: "\e954";
}
.icon-clear:before {
  content: "\e904";
}
.icon-send:before {
  content: "\e905";
}
.icon-file_copy:before {
  content: "\e92d";
}
.icon-attach_file:before {
  content: "\e92e";
}
.icon-border_color:before {
  content: "\e92f";
}
.icon-insert_drive_file:before {
  content: "\e930";
}
.icon-insert_invitation:before {
  content: "\e931";
}
.icon-insert_photo:before {
  content: "\e932";
}
.icon-folder:before {
  content: "\e955";
}
.icon-folder_open:before {
  content: "\e956";
}
.icon-folder_shared:before {
  content: "\e957";
}
.icon-create_new_folder:before {
  content: "\e958";
}
.icon-camera_alt:before {
  content: "\e933";
}
.icon-collections:before {
  content: "\e94a";
}
.icon-panorama_fisheye:before {
  content: "\e959";
}
.icon-remove_red_eye:before {
  content: "\e906";
}
.icon-photo_size_select_actual:before {
  content: "\e94b";
}
.icon-add_photo_alternate:before {
  content: "\e94c";
}
.icon-image_search:before {
  content: "\e924";
}
.icon-apps:before {
  content: "\e917";
}
.icon-cancel:before {
  content: "\e934";
}
.icon-keyboard_control:before {
  content: "\e944";
}
.icon-refresh:before {
  content: "\e923";
}
.icon-ondemand_video:before {
  content: "\e94d";
}
.icon-share:before {
  content: "\e935";
}
.icon-check_box:before {
  content: "\e936";
}
.icon-check_box_outline_blank:before {
  content: "\e937";
}
.icon-radio_button_on:before {
  content: "\e94e";
}
.icon-done:before {
  content: "\e95a";
}
.icon-done_all:before {
  content: "\e95b";
}
.icon-exit_to_app:before {
  content: "\e95c";
}
.icon-face:before {
  content: "\e938";
}
.icon-favorite:before {
  content: "\e907";
}
.icon-favorite_outline:before {
  content: "\e908";
}
.icon-search1:before {
  content: "\e925";
}
.icon-settings:before {
  content: "\e95d";
}
.icon-calendar_today:before {
  content: "\e909";
}
.icon-bookmarks:before {
  content: "\e90a";
}
.icon-drive_file_rename_outline:before {
  content: "\e939";
}
.icon-logout:before {
  content: "\e93a";
}
.icon-file_present:before {
  content: "\e93b";
}
.icon-attach_email:before {
  content: "\e93c";
}
.icon-auto_stories:before {
  content: "\e95e";
}
.icon-forward_to_inbox:before {
  content: "\e93d";
}
.icon-location_pin:before {
  content: "\e93e";
}
.icon-outgoing_mail:before {
  content: "\e93f";
}
.icon-push_pin:before {
  content: "\e940";
}
.icon-star_outline:before {
  content: "\e941";
}
.icon-star_rate:before {
  content: "\e942";
}
.icon-disabled_by_default:before {
  content: "\e943";
}

/*--------------------------------*/
/*SOCIAL*/
.icon-facebook {
  color: #1877f2;
}
.icon-google {
  color: #4285f4;
}
.icon-instagram {
  color: #e4405f;
}
.icon-line {
  color: #00c300;
}
.icon-twitter {
  color: #1da1f2;
}
.icon-youtube {
  color: #f00;
}
